---
http_interactions:
- request:
    method: get
    uri: https://auphonic.com/api/info/algorithms.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c2lybWFyY2VsOm5hYy1kaWQtY2lkLXlvZC1qYS1zaGxlai15dWwteQ==
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      last-modified:
      - Fri, 18 Oct 2013 22:04:33 GMT
    body:
      encoding: UTF-8
      string: |-
        {
            "status_code": 200,
            "form_errors": {},
            "error_code": null,
            "error_message": "",
            "data": {
                "normloudness": {
                    "default_value": true,
                    "type": "checkbox",
                    "display_name": "Global Loudness Normalization",
                    "description": "Adjusts the global, overall loudness to the specified Loudness Target, so that all processed files have a similar average loudness."
                },
                "loudnesstarget": {
                    "default_value": -16,
                    "display_name": "Loudness Target",
                    "description": "Select the loudness target in LUFS for Global Loudness Normalization, higher values result in louder audio outputs.",
                    "belongs_to": "normloudness",
                    "type": "select",
                    "options": [
                        {
                            "display_name": "-13 LUFS (very loud)",
                            "value": -13
                        },
                        {
                            "display_name": "-15 LUFS",
                            "value": -15
                        },
                        {
                            "display_name": "-16 LUFS (mobile)",
                            "value": -16
                        },
                        {
                            "display_name": "-18 LUFS (ReplayGain similarity)",
                            "value": -18
                        },
                        {
                            "display_name": "-20 LUFS",
                            "value": -20
                        },
                        {
                            "display_name": "-23 LUFS, EBU R128 (TV, Europe)",
                            "value": -23
                        },
                        {
                            "display_name": "-24 LUFS, ATSC A/85, no gate (TV, US)",
                            "value": -24
                        },
                        {
                            "display_name": "-31 LUFS (very quiet)",
                            "value": -31
                        }
                    ]
                },
                "denoise": {
                    "default_value": false,
                    "type": "checkbox",
                    "display_name": "Noise Reduction ",
                    "description": "Classifies regions with different backgrounds and automatically removes noise and hum."
                },
                "denoiseamount": {
                    "default_value": 0,
                    "display_name": "Noise Reduction Amount",
                    "description": "Maximum noise reduction amount, higher values remove more noise. Use Automatic if you are no expert!",
                    "belongs_to": "denoise",
                    "type": "select",
                    "options": [
                        {
                            "display_name": "Auto",
                            "value": 0
                       [...]
