---
http_interactions:
- request:
    method: get
    uri: https://auphonic.com/api/info.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c2lybWFyY2VsOm5hYy1kaWQtY2lkLXlvZC1qYS1zaGxlai15dWwteQ==
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      last-modified:
      - Fri, 18 Oct 2013 22:04:33 GMT
    body:
      encoding: UTF-8
      string: |-
        {
            "status_code": 200,
            "form_errors": {},
            "error_code": null,
            "error_message": "",
            "data": {
                "output_files": {
                    "alac": {
                        "display_name": "ALAC (M4A, MP4)",
                        "bitrate_strings": [
                            "optimal (stereo ~140MB/h, mono ~70MB/h)"
                        ],
                        "type": "lossless",
                        "endings": [
                            "m4a",
                            "mp4"
                        ]
                    },
                    "aac": {
                        "display_name": "AAC (M4A, MP4, M4B)",
                        "bitrates": [
                            "24",
                            "32",
                            "40",
                            "48",
                            "56",
                            "64",
                            "80",
                            "96",
                            "112",
                            "128",
                            "160",
                            "192",
                            "256"
                        ],
                        "endings": [
                            "m4a",
                            "mp4",
                            "m4b"
                        ],
                        "type": "lossy",
                        "default_bitrate": "80",
                        "bitrate_strings": [
                            "24 kbps, HE AAC (~11MB/h)",
                            "32 kbps, HE AAC (~14MB/h)",
                            "40 kbps, HE AAC (~18MB/h)",
                            "48 kbps, HE AAC (~21MB/h)",
                            "56 kbps, HE AAC (~25MB/h)",
                            "64 kbps, HE AAC (~28MB/h)",
                            "80 kbps, HE AAC (~35MB/h)",
                            "96 kbps, HE AAC (~42MB/h)",
                            "112 kbps, HE AAC (~49MB/h)",
                            "128 kbps (~56MB/h)",
                            "160 kbps (~70MB/h)",
                            "192 kbps (~84MB/h)",
                            "256 kbps (~113MB/h)"
                        ]
                    },
                    "descr": {
                        "display_name": "Production Description",
                        "type": "description",
                        "endings": [
                            "json",
                            "xml",
                            "yaml"
                        ]
                    },
                    "waveform": {
                        "display_name": "Waveform Image",
                        "type": "description",
                        "endings": [
                            "waveform.png"
                        ]
                    },
                    "psc": {
                        "display_name": "Podlove Simple Chapters",
                        "type": "description",
                        "endings": [
                            "psc",
                            "xml"
                        ]
                    },
                    "image": {
                        "display_name": "Cover Image",
                        "type": "description"
                    },
                    "mp3-vbr": {
                        "display_name": "MP3 Variable Bitrate",
                        "bitrates": [
                            "32",
                            "40",
                            "48",
                            "56",
                            "64",
                            "80",
                            "96",
                            "112",
                            "128",
                            "160",
                            "192",
                 [...]
