---
http_interactions:
- request:
    method: get
    uri: https://auphonic.com/api/info/service_types.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c2lybWFyY2VsOm5hYy1kaWQtY2lkLXlvZC1qYS1zaGxlai15dWwteQ==
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      last-modified:
      - Fri, 18 Oct 2013 22:04:34 GMT
    body:
      encoding: UTF-8
      string: |-
        {
            "status_code": 200,
            "form_errors": {},
            "error_code": null,
            "error_message": "",
            "data": {
                "ftp": {
                    "display_name": "FTP",
                    "parameters": null
                },
                "webdav": {
                    "display_name": "WebDAV",
                    "parameters": null
                },
                "youtube": {
                    "display_name": "YouTube",
                    "parameters": {
                        "category": {
                            "default_value": "",
                            "type": "select",
                            "display_name": "Category",
                            "options": [
                                {
                                    "display_name": "Autos & Vehicles",
                                    "value": "Autos"
                                },
                                {
                                    "display_name": "Comedy",
                                    "value": "Comedy"
                                },
                                {
                                    "display_name": "Education",
                                    "value": "Education"
                                },
                                {
                                    "display_n[...]
