---
http_interactions:
- request:
    method: get
    uri: https://auphonic.com/api/services.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c2lybWFyY2VsOm5hYy1kaWQtY2lkLXlvZC1qYS1zaGxlai15dWwteQ==
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      last-modified:
      - Fri, 18 Oct 2013 22:58:43 GMT
    body:
      encoding: UTF-8
      string: |-
        {
            "status_code": 200,
            "form_errors": {},
            "error_code": null,
            "error_message": "",
            "data": [
                {
                    "outgoing": true,
                    "display_name": "Marcel Langer",
                    "uuid": "h8DesucEK6mepmyxtW83MY",
                    "incoming": true,
                    "type": "dropbox",
                    "email": "me@lumenpage.com"
                }
            ]
        }
  recorded_at: Fri, 18 Oct 2013 22:58:52 GMT
- request:
    method: get
    uri: https://auphonic.com/api/services.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c2lybWFyY2VsOm5hYy1kaWQtY2lkLXlvZC1qYS1zaGxlai15dWwteQ==
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      last-modified:
      - Fri, 18 Oct 2013 22:58:44 GMT
    body:
      encoding: UTF-8
      string: |-
        {
            "status_code": 200,
            "form_errors": {},
            "error_code": null,
            "error_message": "",
            "data": [
                {
                    "outgoing": true,
                    "display_name": "Marcel Langer",
                    "uuid": "h8DesucEK6mepmyxtW83MY",
                    "incoming": true,
                    "type": "dropbox",
                    "email": "me@lumenpage.com"
                }
            ]
        }
  recorded_at: Fri, 18 Oct 2013 22:58:53 GMT
recorded_with: VCR 2.6.0
