---
http_interactions:
- request:
    method: get
    uri: https://auphonic.com/api/info/production_status.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c2lybWFyY2VsOm5hYy1kaWQtY2lkLXlvZC1qYS1zaGxlai15dWwteQ==
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      last-modified:
      - Fri, 18 Oct 2013 22:04:34 GMT
    body:
      encoding: UTF-8
      string: |-
        {
            "status_code": 200,
            "form_errors": {},
            "error_code": null,
            "error_message": "",
            "data": {
                "0": "File Upload",
                "1": "Waiting",
                "2": "Error",
                "3": "Done",
                "4": "Audio Processing",
                "5": "Audio Encoding",
                "6": "Outgoing File Transfer",
                "7": "Audio Mono Mixdown",
                "8": "Splitting Audio On Chapter Marks",
                "9": "Incomplete Form",
                "10": "Production Not Started Yet",
                "11": "Production Outdated",
                "12": "Incoming File Transfer",
                "13": "Stopping the Production"
            }
        }
  recorded_at: Fri, 18 Oct 2013 22:10:59 GMT
recorded_with: VCR 2.6.0
