---
http_interactions:
- request:
    method: get
    uri: https://auphonic.com/api/user.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c2lybWFyY2VsOm5hYy1kaWQtY2lkLXlvZC1qYS1zaGxlai15dWwteQ==
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      last-modified:
      - Fri, 18 Oct 2013 22:58:45 GMT
    body:
      encoding: UTF-8
      string: |-
        {
            "status_code": 200,
            "form_errors": {},
            "error_code": null,
            "error_message": "",
            "data": {
                "username": "sirmarcel",
                "user_id": "9b229d5c0505a979726aa375613af121",
                "error_email": false,
                "warning_email": false,
                "notification_email": false,
                "email": "me@lumenlog.com",
                "date_joined": "2012-06-20T16:29:32.341Z"
            }
        }
  recorded_at: Fri, 18 Oct 2013 22:58:53 GMT
recorded_with: VCR 2.6.0
