---
http_interactions:
- request:
    method: get
    uri: https://auphonic.com/api/productions.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c2lybWFyY2VsOm5hYy1kaWQtY2lkLXlvZC1qYS1zaGxlai15dWwteQ==
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      last-modified:
      - Fri, 18 Oct 2013 22:59:14 GMT
    body:
      encoding: UTF-8
      string: |-
        {
            "status_code": 200,
            "form_errors": {},
            "error_code": null,
            "error_message": "",
            "data": [
                {
                    "status_string": "Incomplete Form",
                    "image": "https://auphonic.com/api/download/audio-upload/5GkTUGY2VKBZocWjMV2jMH/test.jpg",
                    "creation_time": "2013-10-18T22:59:10.505Z",
                    "chapters": [],
                    "edit_page": "https://auphonic.com/engine/upload/edit/5GkTUGY2VKBZocWjMV2jMH",
                    "channels": null,
                    "warning_message": "",
                    "samplerate": null,
                    "output_files": [],
                    "uuid": "5GkTUGY2VKBZocWjMV2jMH",
                    "service": null,
                    "warning_status": null,
                    "has_video": false,
                    "error_status": null,
                    "thumbnail": "https://auphonic.com/api/download/audio-upload/5GkTUGY2VKBZocWjMV2jMH/thumbnail.jpg",
                    "metadata": {
                        "album": "",
                        "publisher": "",
                        "subtitle": "",
                        "license": "",
                        "artist": "",
                        "track": "",
                        "title": "",
                        "summary": "",
                        "append_chapters": false,
                        "url": "",
                        "license_url": "",
                        "location": {
                            "latitude": null,
                            "longitude": null
                        },
                        "year": "",
                        "genre": "",
                        "tags": [
                            ""
                        ]
                    },
                    "status": 9,
                    "input_file": "",
                    "status_page": "https://auphonic.com/engine/status/5GkTUGY2VKBZocWjMV2jMH",
                    "length_timestring": "",
                    "multi_input_files": [],
                    "bitrate": null,
                    "output_basename": "",
                    "outgoing_services": [],
                    "change_time": "2013-10-18T22:59:10.505Z",
                    "error_message": "",
                    "waveform_image": null,
                    "length": 0,
                    "algorithms": {
                        "normloudness": true,
                        "loudnesstarget": -16,
                        "denoise": false,
                        "denoiseamount": 0,
                        "hipfilter": true,
                        "leveler": true
                    },
                    "start_allowed": false,
                    "change_allowed": true,
                    "format": ""
                },
                {
                    "status_string": "Incomplete Form",
                    "image": null,
                    "creation_time": "2013-10-18T22:59:07.840Z",
                    "chapters": [],
                    "edit_page": "https://auphonic.com/engine/upload/edit/xcfFnhD36Tg2KoBy7pHPRU",
                    "channels": null,
                    "warning_message": "",
                    "samplerate": null,
                    "output_files": [],
       [...]
