---
http_interactions:
- request:
    method: post
    uri: https://auphonic.com/api/productions.json
    body:
      encoding: UTF-8
      string: '{}'
    headers:
      Authorization:
      - Basic c2lybWFyY2VsOm5hYy1kaWQtY2lkLXlvZC1qYS1zaGxlai15dWwteQ==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      last-modified:
      - Thu, 17 Oct 2013 10:34:39 GMT
    body:
      encoding: UTF-8
      string: |-
        {
            "status_code": 200,
            "form_errors": {},
            "error_code": null,
            "error_message": "",
            "data": {
                "status_string": "Incomplete Form",
                "image": null,
                "creation_time": "2013-10-17T10:34:38.947Z",
                "chapters": [],
                "edit_page": "https://auphonic.com/engine/upload/edit/Yuzj2r8D9qdfKF2E6uUjS7",
                "channels": null,
                "warning_message": "",
                "samplerate": null,
                "output_files": [],
                "uuid": "Yuzj2r8D9qdfKF2E6uUjS7",
                "service": null,
                "warning_status": null,
                "has_video": false,
                "error_status": null,
                "thumbnail": null,
                "metadata": {
                    "album": "",
                    "publisher": "",
                    "subtitle": "",
                    "license": "",
                    "artist": "",
                    "track": "",
                    "title": "",
                    "summary": "",
                    "append_chapters": false,
                    "url": "",
                    "license_url": "",
                    "location": {
                        "latitude": null,
                        "longitude": null
                    },
                    "year": "",
                    "genre": "",
                    "tags": [
                        ""
                    ]
                },
                "status": 9,
                "input_file": "",
                "status_page": "https://auphonic.com/engine/status/Yuzj2r8D9qdfKF2E6uUjS7",
                "length_timestring": "",
                "multi_input_files": [],
                "bitrate": null,
                "output_basename": "",
                "outgoing_services": [],
                "change_time": "2013-10-17T10:34:38.947Z",
                "error_message": "",
                "waveform_image": null,
                "length": 0,
                "algorithms": {
                    "normloudness": true,
                    "loudnesstarget": -16,
                    "denoise": false,
                    "denoiseamount": 0,
                    "hipfilter": true,
                    "leveler": true
                },
                "start_allowed": false,
                "change_allowed": true,
                "format": ""
            }
        }
  recorded_at: Thu, 17 Oct 2013 10:34:45 GMT
- request:
    method: post
    uri: https://auphonic.com/api/production/Yuzj2r8D9qdfKF2E6uUjS7/start.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c2lybWFyY2VsOm5hYy1kaWQtY2lkLXlvZC1qYS1zaGxlai15dWwteQ==
  response:
    status:
      code: 400
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      last-modified:
      - Thu, 17 Oct 2013 10:34:39 GMT
    body:
      encoding: UTF-8
      string: |-
        {
            "status_code": 400,
            "form_errors": {},
            "error_code": null,
            "error_message": "Can't start the production: it is already started or you have to provide more data!",
            "data": null
        }
  recorded_at: Thu, 17 Oct 2013 10:34:46 GMT
recorded_with: VCR 2.6.0
