---
http_interactions:
- request:
    method: post
    uri: https://auphonic.com/api/productions.json
    body:
      encoding: UTF-8
      string: '{}'
    headers:
      Authorization:
      - Basic c2lybWFyY2VsOm5hYy1kaWQtY2lkLXlvZC1qYS1zaGxlai15dWwteQ==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      last-modified:
      - Thu, 17 Oct 2013 22:09:09 GMT
    body:
      encoding: UTF-8
      string: |-
        {
            "status_code": 200,
            "form_errors": {},
            "error_code": null,
            "error_message": "",
            "data": {
                "status_string": "Incomplete Form",
                "image": null,
                "creation_time": "2013-10-17T22:09:09.268Z",
                "chapters": [],
                "edit_page": "https://auphonic.com/engine/upload/edit/5Tnr6BfQmYioDayKU7bYEH",
                "channels": null,
                "warning_message": "",
                "samplerate": null,
                "output_files": [],
                "uuid": "5Tnr6BfQmYioDayKU7bYEH",
                "service": null,
                "warning_status": null,
                "has_video": false,
                "error_status": null,
                "thumbnail": null,
                "metadata": {
                    "album": "",
                    "publisher": "",
                    "subtitle": "",
                    "license": "",
                    "artist": "",
                    "track": "",
                    "title": "",
                    "summary": "",
                    "append_chapters": false,
                    "url": "",
                    "license_url": "",
                    "location": {
                        "latitude": null,
                        "longitude": null
                    },
                    "year": "",
                    "genre": "",
                    "tags": [
                        ""
                    ]
                },
                "status": 9,
                "input_file": "",
                "status_page": "https://auphonic.com/engine/status/5Tnr6BfQmYioDayKU7bYEH",
                "length_timestring": "",
                "multi_input_files": [],
                "bitrate": null,
                "output_basename": "",
                "outgoing_services": [],
                "change_time": "2013-10-17T22:09:09.268Z",
                "error_message": "",
                "waveform_image": null,
                "length": 0,
                "algorithms": {
                    "normloudness": true,
                    "loudnesstarget": -16,
                    "denoise": false,
                    "denoiseamount": 0,
                    "hipfilter": true,
                    "leveler": true
                },
                "start_allowed": false,
                "change_allowed": true,
                "format": ""
            }
        }
  recorded_at: Thu, 17 Oct 2013 22:09:15 GMT
- request:
    method: post
    uri: https://auphonic.com/api/production/5Tnr6BfQmYioDayKU7bYEH.json
    body:
      encoding: UTF-8
      string: '{"input_file":"test.m4a","service":"h8DesucEK6mepmyxtW83MY","reset_data":true}'
    headers:
      Authorization:
      - Basic c2lybWFyY2VsOm5hYy1kaWQtY2lkLXlvZC1qYS1zaGxlai15dWwteQ==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      last-modified:
      - Thu, 17 Oct 2013 22:09:11 GMT
    body:
      encoding: UTF-8
      string: |-
        {
            "status_code": 200,
            "form_errors": {},
            "error_code": null,
 [...]
