---
http_interactions:
- request:
    method: get
    uri: https://auphonic.com/api/presets.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c2lybWFyY2VsOm5hYy1kaWQtY2lkLXlvZC1qYS1zaGxlai15dWwteQ==
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      last-modified:
      - Fri, 18 Oct 2013 22:58:49 GMT
    body:
      encoding: UTF-8
      string: |-
        {
            "status_code": 200,
            "form_errors": {},
            "error_code": null,
            "error_message": "",
            "data": [
                {
                    "outgoing_services": [],
                    "uuid": "Jt7Zw5XxHVCurrN5zrh4AG",
                    "output_files": [],
                    "preset_name": "Test Upload Cover Preset",
                    "creation_time": "2013-10-18T22:58:47.706Z",
                    "metadata": {
                        "album": "",
                        "publisher": "",
                        "subtitle": "",
                        "license": "",
                        "artist": "",
                        "track": "",
                        "title": "",
                        "summary": "",
                        "append_chapters": false,
                        "url": "",
                        "license_url": "",
                        "location": {
                            "latitude": null,
                            "longitude": null
                        },
                        "year": "",
                        "genre": "",
                        "tags": [
                            ""
                        ]
                    },
                    "algorithms": {
                        "normloudness": true,
                        "loudnesstarget": -16,
                        "denoise": false,
                        "denoiseamount": 0,
                        "hipfilter": true,
                        "leveler": true
                    },
                    "image": "https://auphonic.com/api/download/preset/Jt7Zw5XxHVCurrN5zrh4AG/test.jpg",
                    "multi_input_files": [],
                    "thumbnail": "https://auphonic.com/api/download/preset/Jt7Zw5XxHVCurrN5zrh4AG/thumbnail.jpg",
                    "output_basename": ""
                },
                {
                    "outgoing_services": [],
                    "uuid": "gAqurE7JpDkB858ZBysnER",
                    "output_files": [],
                    "preset_name": "Test Preset",
                    "creation_time": "2013-10-18T22:58:45.596Z",
                    "metadata": {
                        "album": "",
                        "publisher": "",
                        "subtitle": "",
                        "license": "",
              [...]
