---
http_interactions:
- request:
    method: post
    uri: https://auphonic.com/api/presets.json
    body:
      encoding: UTF-8
      string: '{"preset_name":"Test Preset"}'
    headers:
      Authorization:
      - Basic c2lybWFyY2VsOm5hYy1kaWQtY2lkLXlvZC1qYS1zaGxlai15dWwteQ==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      last-modified:
      - Fri, 18 Oct 2013 22:20:45 GMT
    body:
      encoding: UTF-8
      string: |-
        {
            "status_code": 200,
            "form_errors": {},
            "error_code": null,
            "error_message": "",
            "data": {
                "outgoing_services": [],
                "uuid": "NFAjzpd4Vk6GvBFty6JtoU",
                "output_files": [],
                "preset_name": "Test Preset",
                "creation_time": "2013-10-18T22:20:45.019Z",
                "metadata": {
                    "album": "",
                    "publisher": "",
                    "subtitle": "",
                    "license": "",
                    "artist": "",
                    "track": "",
                    "title": "",
                    "summary": "",
                    "append_chapters": false,
                    "url": "",
                    "license_url": "",
                    "location": {
                        "latitude": null,
                        "longitude": null
                    },
                    "year": "",
                    "genre": "",
                    "tags": [
                        ""
                    ]
                },
                "algorithms": {
                    "normloudness": true,
                    "loudnesstarget": -16,
                    "denoise": false,
                    "denoiseamount": 0,
                    "hipfilter": true,
                    "leveler": true
                },
                "image": null,
                "multi_input_files": [],
                "thumbnail": null,
                "output_basename": ""
            }
        }
  recorded_at: Fri, 18 Oct 2013 22:20:54 GMT
recorded_with: VCR 2.6.0
