---
http_interactions:
- request:
    method: post
    uri: https://auphonic.com/api/presets.json
    body:
      encoding: UTF-8
      string: '{"preset_name":"To be deleted"}'
    headers:
      Authorization:
      - Basic c2lybWFyY2VsOm5hYy1kaWQtY2lkLXlvZC1qYS1zaGxlai15dWwteQ==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      last-modified:
      - Fri, 18 Oct 2013 22:58:46 GMT
    body:
      encoding: UTF-8
      string: |-
        {
            "status_code": 200,
            "form_errors": {},
            "error_code": null,
            "error_message": "",
            "data": {
                "outgoing_services": [],
                "uuid": "zCojJJ8KQqM354hLFPU32o",
                "output_files": [],
                "preset_name": "To be deleted",
                "creation_time": "2013-10-18T22:58:46.421Z",
                "metadata": {
                    "album": "",
                    "publisher": "",
                    "subtitle": "",
                    "license": "",
                    "artist": "",
                    "track": "",
                    "title": "",
                    "summary": "",
                    "append_chapters": false,
                    "url": "",
                    "license_url": "",
                    "location": {
                        "latitude": null,
                        "longitude": null
                    },
                    "year": "",
                    "genre": "",
                    "tags": [
                        ""
                    ]
                },
                "algorithms": {
                    "normloudness": true,
                    "loudnesstarget": -16,
                    "denoise": false,
                    "denoiseamount": 0,
                    "hipfilter": true,
                    "leveler": true
                },
                "image": null,
                "multi_input_files": [],
                "thumbnail": null,
                "output_basename": ""
            }
        }
  recorded_at: Fri, 18 Oct 2013 22:58:55 GMT
- request:
    method: delete
    uri: https://auphonic.com/api/preset/zCojJJ8KQqM354hLFPU32o.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic c2lybWFyY2VsOm5hYy1kaWQtY2lkLXlvZC1qYS1zaGxlai15dWwteQ==
  response:
    status:
      code: 204
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      last-modified:
      - Fri, 18 Oct 2013 22:58:47 GMT
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Fri, 18 Oct 2013 22:58:55 GMT
recorded_with: VCR 2.6.0
